/*@import url('https://www.udemy.com/staticx/udemy/fonts/Udemy-Sans-Regular-v1.woff2');
@import url('https://www.udemy.com/staticx/udemy/fonts/Udemy-Sans-Bold-v1.woff2');*/

@font-face {
  font-family: "UdemySans";
  src: url("https://www.udemy.com/staticx/udemy/fonts/Udemy-Sans-Regular-v1.woff2")
    format("woff");
}

@font-face {
  font-family: "SuisseWorks";
  src: url("https://www.udemy.com/staticx/udemy/fonts/SuisseWorks-Bold-v1.woff2")
    format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: UdemySans;
    @apply antialiased;
  }
  * {
    /*outline: solid 1px red;*/
  }

  h1,
  .h1 {
    @apply text-4xl font-extrabold font-SuisseWorks mb-3;
  }
  h2,
  .h2 {
    @apply text-3xl font-extrabold font-SuisseWorks mb-3;
  }
  h3,
  .h3 {
    @apply text-2xl font-extrabold font-UdemySans mb-3;
  }

  h4,
  .h4 {
    @apply text-xl font-extrabold font-UdemySans mb-3;
  }

  hr {
    @apply border-gray-300 my-5;
  }
}
